{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Browse UP Theses | UP Cebu's Online Theses Archive</title>
		{% include 'theses_sys/fronts/meta.html' %}
	</head>

	<body>
		<div id="main-wrapper">
			{% include 'theses_sys/fronts/header.html' %}

			<div id="wrap">
				<div id="main">				
					<div class="row">
						<div class="small-12 columns collapse">
						<fieldset>
							<legend><h4>CVSC Home</h4></legend>
							<h3>List of Accounts</h3>
							
							{% include 'theses_sys/fronts/alert.html' %}

						    <div id="facultyList" style="margin: 20px auto">
						    	<table style="width: 100%">
						    		<thead>
							    		<tr>
							    			<th>
							    				<input type="checkbox" id="selectAll" />
							    			</th>
							    			<th>Username</th>
							    			<th>Name of Teacher</th>
							    			<th>Department</th>
							    			<th>No. of Theses</th>
							    			<th>Print?</th>
							    			<th>Delete?</th>
							    		</tr>
						    		</thead>
						    		<form id="toDeleteMultiple" action="{% url 'theses_sys:delete_accounts' %}" method="POST">
						    			{% csrf_token %}
						    		</form>
						    		<form id="toPrintMultiple" action="{% url 'theses_sys:print_accounts' %}" method="POST">
						    			{% csrf_token %}
						    		</form>
						    		<tbody>
					    			{% for account in accounts %}
										<tr>
											<td style="width: 0">
												<input type="checkbox" class="checkbox" form="toDeleteMultiple" name="acct_id" value="{{ account.account.id }}"
												onselect="document.getElementById('deleteSelected').disabled = false">
											</td>
											<td>{{ account.account.username }}</td>
							    			<td style="text-align: left">
							    				{% if account.profile %}
							    					<a href="{% url 'theses_sys:faculty_theses' account.account.username %}">{{ account.profile }}</a>
							    				{% else %}
							    					<span>Not yet set</span>
							    				{% endif %}
							    			</td>
							    			<td style="text-align: left">
							    				{% if account.profile %}
							    					<a href="{% url 'theses_sys:department_theses' account.profile.department.id %}">{{ account.profile.department }}</a>
							    				{% else %}
							    					<span>Not yet set</span>
							    				{% endif %}
							    			</td>
							    			<td>{{ account.thesis_count }}</td>
							    			<td>
							    				<a href="#" title="Print out this account" 
							    					{% if not account.profile %}
								    					data-reveal-id="print_{{ account.account.id }}" data-reveal
								    				{% else %}
								    					style="opacity: .4"
								    				{% endif %}
								    			>
							    					<img id="print" src="{% static 'theses_sys/images/print-tiny.png' %}" alt="Edit" style="height: 50%" >
							    				</a>
							    			</td>
							    			<div id="print_{{ account.account.id }}" class="reveal-modal tiny" data-reveal style="text-align:center">
												<h4>Do you really want to print out <em>
													{% if account.profile %}
								    					{{ account.profile }}
								    				{% else %}
								    					{{ account.account }}
								    				{% endif %}
												</em> log-in details?</h4>
												<style type="text/css">		
													.accountForm {
													    width: 250px;
													    min-height: 160px;
													    border: 1px solid black;
													    text-align: center;
													    margin-bottom: 20px;
													}
													#username, #password {
													    width: 122px;
													    display: inline-block;
													    border-bottom: 1px solid #bdbdbd;
													}
												</style>
												<div class="row" style="width: 100%">
													<div class="accountForm" style="margin: 0 auto">
														<div></br><h5>CVSC Faculty Account</br></h5></div>
														<div style="font-size: 13px; color:gray; font-style:italic">Please edit your account on first log-in</div></br>
														<div id="username">
															<p>Username</p>
															<div style="border-top: 1px solid #bdbdbd">{{ account.account }}</div>
														</div>
														<div id="password">
															<p>Password</p>
															<div style="border-top: 1px solid #bdbdbd"><span style="color: #cc0000">[confidential]</span></div>
														</div>
													</div>
												</div>
												<form action="{% url 'theses_sys:print_account' account.account.id %}" method="POST">
													{% csrf_token %}
													<input type="hidden" name="acct_id"/>
													<input type="submit" class="tiny button radius block" style="margin-top: 15px" value="Yes"/>
												</form>
												<a class="close-reveal-modal">&times;</a>
											</div>
											<td>
							    				<a href="#" title="Remove this account" data-reveal-id="myModal_{{ account.account.id }}" data-reveal>
							    					<img id="delete" src="{% static 'theses_sys/images/delete-tiny.png' %}" alt="Edit" style="height: 50%">
							    				</a>
							    			</td>
							    			<div id="myModal_{{ account.account.id }}" class="reveal-modal tiny" data-reveal style="text-align:center">
												<h4>Do you really want to delete
													{% if account.profile %}
								    					<em>{{ account.profile }}</em>
								    				{% else %}
								    					<em>{{ account.account }}</em>
								    				{% endif %}?</h4>
												<div data-alert class="alert-box warning radius" style="margin-top: 20px">
												  	<span>Make sure you that have an authorization from the owner to delete this account.</span>
												  	<a href="#" class="close" style="color: white">&times;</a>
												</div>
												<a class="tiny button radius" href="{% url 'theses_sys:delete_account' account.account.id %}" >Yes</a>
												<a class="close-reveal-modal">&times;</a>
											</div>
							    		</tr>
									{% endfor %}
						    		</tbody>
						    	</table>
						    </div>
						    <a href="#" class="button tiny radius" data-reveal-id="deleteSelectedModal" data-reveal>Delete Selected</a>
						    <div id="deleteSelectedModal" class="reveal-modal tiny" data-reveal style="text-align:center">
								<h4>Do you really want to delete selected accounts?</h4>
								<input id="deleteSelected" type="submit" form="toDeleteMultiple" class="tiny button radius" value="Yes" />
								<a class="close-reveal-modal">&times;</a>
							</div>
							<a href="#" class="button tiny radius" data-reveal-id="printSelectedModal" data-reveal>Print Selected</a>
						    <div id="printSelectedModal" class="reveal-modal tiny" data-reveal style="text-align:center">
								<h4>Do you really want to print out selected accounts?</h4>
								<input id="printSelected" type="submit" form="toPrintMultiple" class="tiny button radius" value="Yes" />
								<a class="close-reveal-modal">&times;</a>
							</div>
						</fieldset>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		{% include 'theses_sys/fronts/footer.html' %}
		{% include 'theses_sys/fronts/scripts.html' %}
		<script>
			var printSelected = document.getElementById('printSelected');
			printSelected.onmouseover = function() {
				$('.checkbox').attr('form', 'toPrintMultiple');
			}

			var deleteSelected = document.getElementById('deleteSelected');
			deleteSelected.onmouseover = function() {
				$('.checkbox').attr('form', 'toDeleteMultiple');
			}

			var selectAll = document.getElementById('selectAll');
			selectAll.onclick = function() {
				if (selectAll.getAttribute('checked') != null) {
					console.log('hoy')
					$('.checkbox').removeAttr('checked');
					selectAll.removeAttribute('checked');
				} else {
					$('.checkbox').attr('checked', 'checked');
					selectAll.setAttribute('checked', 'checked');
				}
			}
		</script>
	</body>
</html>