{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Browse UP Theses | UP Cebu's Online Theses Archive</title>
		{% include 'theses_sys/fronts/meta.html' %}
	</head>

	<body>
		<div id="main-wrapper">
			{% include 'theses_sys/fronts/header.html' %}

			<div id="wrap">
				<div id="main" style="margin: 20px 0">
					<div class="row">
						<div class="large-12 medium-10 small-10 columns">
							<fieldset style="margin-top: 0">
								<legend>
									<h5>Enter Thesis Details</h5>
								</legend>
								
								{% include 'theses_sys/fronts/alert.html' %}

								<form action="{% url 'theses_sys:add_thesis' %}" method="post">
									{% csrf_token %}
									<div class="row">
										<div class="small-10 columns">
											<div class="small-4 columns">
												<label for="title" class="right inline">Title</label>
											</div>
											<div class="small-8 columns">
									        	<input type="text" id="title" style="font-size: 110%; font-weight: bolder; color: #007095;"
									        	name="title" placeholder="Title of the Thesis" required value="Origin of Love">
									        </div>
									    </div>
									</div>
									<div class="row" style="margin-bottom: 5px">
										<div class="small-10 columns">
											<div class="small-4 columns">
									          	<label for="abstract" class="right inline">Abstract</label>
									        </div>
									        <div class="small-8 columns">
											    <textarea id="abstract" name="abstract" placeholder="Abstract" 
											    style="height: 20em; max-width: 100%; font-size: 14px" required>It was deemed in the context of the entire story that since Plato's era, love has been considered ideally synonymous to cosmic predestination -- or in a much shallower sense, destiny.
The pair bonds in the story was depicted in three assemblages, namely: male-male (sons of the Sun), female-female (daughters of the Earth), and male-female (children of the Moon). However initially, they never knew love. And out of jealousy, Zeus cut them in half with his rain of lightning bolts and other gods assisted in scattering them away. In turn, it was believed that throughout our lives, we are always striving to find our "other half" (i.e. soul-mates), and this innate desire is what we called "love". But when we talk of love, the end of the story suggests that it is not the body that wants to be reunited -- it is the soul governing that two bodies that wants to mutually bind.
Most people, especially passionate ones, are adherently presumptuous of their love destiny, and in turn, when they can't find "it", they become desperate. Moreover, when speaking of the three assemblages aforementioned, homosexuals also seek for their homosexual destiny. It must be fetched from the story that the human world was made of "roaming kegs" that are not just in male-female corresponding pairs, but also with the homosexual pairs. And we can say that during Plato's Symposium, there has been an initial cultivation of the idea of homosexuality, where a male is also pre-destined to have a male lover.
As for me, I don't believe to cosmic destiny as the "drivers of our entire life", because we ourselves (the ways we do and behave) do the manipulative drive. It clings much on the arguments of the nature-versus-nurture approach. I don't believe the idea of innatism (i.e. the "nature") that steers the directions of our lives, because we do have behaviourism (i.e. the "nurture") in our own ways in the present that moulds us into what we are in the future. Though there was times that I almost relied on destiny due to some luck I got in some instances, I always stick to the idea of the "nurture", in which we shape our future selves through experience.
But going back to the topic, the story likewise has an impressive picturesque of a natural, undiscriminating, credible, and accepted perspective of homosexual love.
</textarea>
									        </div>
									    </div>
									</div>
									<div id="addAuthor">
										<div class="row">
											<div class="small-10 columns">
												<div class="small-4 columns">
										        	<label for="author" class="right inline">Researcher/s</label>
										        </div>
										        <div class="small-8 columns">
													<div id="researchers">
														<input id="ctr" type="hidden" value="0"/>
														<div id="researcher_0" style="margin-bottom: 5px">
															<input type="text" style="width: 30%; display: inline-block" name="res_first_name" placeholder="First Name" required value="Zac"/>
															<input type="text" style="width: 30%; display: inline-block" name="res_middle_name" placeholder="Middle Name" required value="Horny"/>
															<input type="text" style="width: 30%; display: inline-block" name="res_last_name" placeholder="Last Name" required value="Efron"/>
															<img style="display: inline-block; width: 33px" src="{% static 'theses_sys/images/add-tiny.png' %}" onclick="addAuth()" />
														</div>
													</div>
										        </div>
									   	    </div>
										</div>
									</div>
									<div class="row">
										<div class="small-10 columns">
											<div class="small-4 columns">
									       		<label for="select" class="right inline">Categories</label>
									        </div>
									        <div class="small-8 columns">
									        	<select style="font-size: 13px" name="category">
									        		{% for category in categories %}
									        			<option value="{{ category.id }}">{{ category }}</option>
									        		{% endfor %}
									        	</select>
									        </div>
									    </div>
									</div>
									<div class="row">
										<div class="small-10 columns">
											<div class="small-4 columns">
												<label for="tags" class="right inline">Tag/s</label>
											</div>
											<div class="small-8 columns">
									        	<input type="text" id="tags" name="tags" placeholder="Tags (separate by comma)" value="polymorphism, inheritance">
									        </div>
									    </div>
									</div>
								  	<div class="row">
										<div class="small-10 columns">
											<div class="small-4 columns">
									        	<label for="date-published" class="right inline">Date Published</label>
									        </div>
									        <div class="small-8 columns">
									        	<input type="date" id="date-published" name="pub_date" required value="1994-12-08"/>
									        </div>
									    </div>
									</div>
									<div class="row">
										<div class="small-10 columns">
											<div class="small-4 columns">
									        	<label for="date-accessioned" class="right inline">Date Accessioned</label>
									        </div>
									        <div class="small-8 columns">
									        	<input type="date" id="date-accessioned" name="acc_date" required value="1998-04-12"/>
									        </div>
									    </div>
									</div>
									<div class="row">
										<div style="text-align: center; margin-top: 20px">
											<input type="submit" class="tiny button radius" value="Add Entry">
										</div>
								    </div>
								</form>
							</fieldset>
						</div>
					</div>
				</div>
			</div>
		</div>

		<script>
			var ctr = 1;
			
			function addAuth() {
				var toAppend = '\
				<div id="researcher_' + ctr + '" style="margin-bottom: 5px"> \
					<input type="text" style="width: 30%; display: inline-block" name="res_first_name" placeholder="First Name" /> \
					<input type="text" style="width: 30%; display: inline-block" name="res_middle_name" placeholder="Middle Name" /> \
					<input type="text" style="width: 30%; display: inline-block" name="res_last_name" placeholder="Last Name" /> \
					<img style="display: inline-block; width: 33px" src="{% static "theses_sys/images/delete-tiny.png" %}" onclick="fadeOut(\'#researcher_' + ctr + '\')"/> \
				</div>';
				$('#researchers').append(toAppend);
				ctr++;
			}

			function fadeOut(id) {
				$(id).remove();
			}
		</script>
		
		{% include 'theses_sys/fronts/footer.html' %}
		{% include 'theses_sys/fronts/scripts.html' %}
	</body>
</html>