<!DOCTYPE html>
<html>
	<head>
		<title>Browse UP Theses | UP Cebu's Online Theses Archive</title>
		{% include 'theses_sys/fronts/meta.html' %}
	</head>
	<body>
		<div id="main-wrapper">
			{% include 'theses_sys/fronts/header.html' %}
			<div id="wrap">
				<div id="main" style="margin: 20px 0">
					<fieldset>
						<legend><h4>Theses under <em>{{ department }}</em></h4></legend>
						<table style="width: 100%">
				    		<thead>
					    		<tr>
					    			<th>Theses Title</th>
					    			<th>Researcher/s</th>
					    			<th>Category</th>
					    			<th>Tags</th>
					    		</tr>
				    		</thead>
				    		<tbody>
				    			{% if theses %}
									{% for thesis in theses %}
										<tr>
							    			<td>
							    				<a href="{% url 'theses_sys:show_thesis_info' thesis.id %}">{{ thesis.title }}</a>
							    			</td>
							    			<td>
							    			{% for researcher in thesis.researchers.all %}
							    				<span class="label secondary">{{ researcher }}</span>
							    			{% endfor %}
							    			</td>
							    			<td>
							    				<a href="{% url 'theses_sys:search' 'category' thesis.category.name %}" class="label">{{ thesis.category }}</a>
							    			</td>
							    			<td>
							    			{% for tag in thesis.tags.all %}
												<a href="{% url 'theses_sys:search' 'tag' tag.name %}" class="label">{{ tag }}</a>
											{% endfor %}
							    			</td>
							    		</tr>
									{% endfor %}
								{% else %}
									<tr style="text-align: center">
						    			<td colspan="6"><h4>No Thesis Yet!</h4></td>
						    		</tr>
								{% endif %}
							</tbody>
				    	</table>
			    	</fieldset>
		    	</div>
			</div>
		</div>

	{% include 'theses_sys/fronts/footer.html' %}
	{% include 'theses_sys/fronts/scripts.html' %}
</body>
</html>