<!DOCTYPE html>
<html>
	<head>
		<title>Browse UP Theses</title>
		{% include 'theses_sys/fronts/meta.html' %}
	</head>

	<body style="margin-top: 200px">
		<form action="{% url 'theses_sys:create_user_session' %}" method="post">
			<div style="width: 30%; margin: 0 auto; border: 1px solid #bdbdbd; padding: 20px; text-align: center;">
				<h3 style="background: #800000; color: #FFF; padding: 5px 0px; margin-bottom: 20px">Log-in</h3>
				{% include 'theses_sys/fronts/alert.html' %}
				<input type="text" placeholder="Username" name="username" style="margin-bottom: 10px" autofocus />
				<input type="password" placeholder="Password" name="password" /><br>
				<input type="submit" class="small button radius" value="Sign in" />
				<a class="small button radius" href="{% url 'theses_sys:index' %}">Cancel</a>
			</div>
		</form>
	</body>
</html>