<h3>{{ thesis.title }}</h3>
<fieldset>
	<pre>{{ session }}</pre>
	<legend>Thesis Information</legend>
	<table>
		<tr>
			<th>Title</th>
			<td>{{ thesis.title }}</td>
		</tr>
		<tr>
			<th>Researchers</th>
			<td>
			{% for researcher in thesis.researchers.all %}
				<a href="">{{ researcher }}</a>
			{% endfor %}
			</td>
		</tr>
		<tr>
			<th>Faculty</th>
			<td>
				<a href="{% url 'theses_sys:show_faculty_theses' thesis.faculty.user_auth.id %}">{{ thesis.faculty }}</a>
			</td>
		</tr>
		<tr>
			<th>Department</th>
			<td>
				<a href="{% url 'theses_sys:show_department_theses' thesis.faculty.department.id %}">
					{{ thesis.faculty.department }}
				</a>
			</td>
		</tr>
		<tr>
			<th>Tags</th>
			<td>
			{% for tag in thesis.tags.all %}
				<a href="{% url 'theses_sys:search' 'tag' tag.name %}">{{ tag }}</a>
			{% endfor %}
			</td>
		</tr>
		<tr>
			<th>Categories</th>
			<td>
			{% for category in thesis.categories.all %}
				<a href="{% url 'theses_sys:search' 'category' category.name %}">{{ category }}</a>
			{% endfor %}
			</td>
		</tr>
		<tr>
			<th>Date Published</th>
			<td>{{ thesis.pub_date }}</td>
		</tr>
		<tr>
			<th>Date Accessioned</th>
			<td>{{ thesis.acc_date }}</td>
		</tr>
	</table>
</fieldset>
<fieldset>
	<legend>Abstract</legend>
	<p>{{ thesis.abstract }}</p>
</fieldset>