<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Browse UP Theses | UP Cebu's Online Theses Archive</title>
		{% include 'theses_sys/fronts/meta.html' %}
	</head>

	<body>
		<div id="main-wrapper">
			{% include 'theses_sys/fronts/header.html' %}

			<div id="wrap">
				<div id="main" style="margin: 20px 0">
					<div class="row">
						<div class="large-12 medium-10 small-10 columns">
							<fieldset id = "profile">
						    	<legend><h4>My Profile</h4></legend>
						    	
						    	{% include 'theses_sys/fronts/alert.html' %}

						    	<form id="profile" method="POST" action="{% url 'theses_sys:update-profile' %}">
						    		{% csrf_token %}
						    		<div class="row">
										<div class="small-10 columns">
											<div class="small-4 columns">
									        	<label for="author" class="right inline">Name</label>
									        </div>
									        <div class="small-8 columns">
												<div id="researchers">
													<input id="ctr" type="hidden" value="0"/>
													<div id="researcher_0" style="margin-bottom: 5px">
														<input type="text" style="width: 32.7%; display: inline-block" name="first_name" required placeholder="First Name" value="{{ profile.first_name }}" />
														<input type="text" style="width: 32.7%; display: inline-block" name="middle_name" required placeholder="Middle Name" value="{{ profile.middle_name }}" />
														<input type="text" style="width: 32.8%; display: inline-block" name="last_name" required placeholder="Last Name" value="{{ profile.last_name }}" />
													</div>
												</div>
									        </div>
								   	    </div>
									</div>
								  	<div class="row">
										<div class="small-10 columns">
											<div class="small-4 columns">
												<label for="username" class="right inline">Username</label>
											</div>
											<div class="small-8 columns">
									        	<input type="text" id="username" name="username" placeholder="Username" required value="{{ session.username }}">
									        </div>
									    </div>
									</div>
									<div class="row">
										<div class="small-10 columns">
											<div class="small-4 columns">
												<label for="password" class="right inline">New Password</label>
											</div>
											<div class="small-8 columns">
									        	<input type="text" id="password" name="password" onchange="document.getElementById('confirm').disabled = false"
									        	placeholder="Password" required value="{{ session.password }}">
									        </div>
									    </div>
									</div>
									<div class="row">
										<div class="small-10 columns">
											<div class="small-4 columns">
												<label for="confirm" class="right inline">Confirm Password</label>
											</div>
											<div class="small-8 columns">
									        	<input type="text" id="confirm" name="confirm_password" placeholder="Confirm Password" required value="{{ session.password }}">
									        </div>
									    </div>
									</div>
									<div class="row">
										<div class="small-10 columns">
											<div class="small-4 columns">
									        	<label for="department" class="right inline">Department</label>
									        </div>
									        <div class="small-8 columns">
									        	<div id="department" style="border: 1px solid #CCC; padding: 11px 0 0 11px;">
									        	{% for department in departments %}
										        	<div style="display: block; margin-bottom: 1rem">
										        		<input type="radio" id="dep_{{ department.id }}" name="department" value="{{ department.id }}"
										        		{% if forloop.counter0 == dept_id %}
										        			{{ 'checked' }}
										        		{% endif %}
										        		>
										        		<label for="dep_{{ department.id }}">{{ department }}</label>
										        	</div>
										        {% endfor %}	
									        	</div>
									        </div>
									    </div>
									</div>
									<div class="row">
										<div class="small-10 columns" style="margin-top: 5px; ">
											<div class="small-4 columns">
									        	<label for="gender" class="right inline">Gender</label>
									        </div>
									        <div class="small-8 columns">
									        	<div style="border: 1px solid #CCC; padding: 11px 0 11px 11px;">
									        		<input type="radio" id="male" name="gender" value="M"
									        		{% if profile.gender == 'M' %}
									        			{{ 'checked' }}
									        		{% endif %}
									        		>
									        		<label for="male">Male</label>
									        		<input type="radio" id="female" name="gender" value="F"
													{% if profile.gender == 'F' %}
									        			{{ 'checked' }}
									        		{% endif %}
									        		>
									        		<label for="female"
									        		>Female</label>
									        	</div>
									        </div>
									    </div>
									</div>
									<div class="row">
										<div style="text-align: center; margin-top: 20px">
											<input type="submit" class="tiny button radius" value="Confirm"/>
										</div>
								    </div>
					    		</form>
						    </fieldset>
						</div>	
					</div>
				</div>
			</div>
		</div>
		
		{% include 'theses_sys/fronts/footer.html' %}
		{% include 'theses_sys/fronts/scripts.html' %}
	</body>
</html>