<header id="top">
	<div class="row">
		<div class="small-7 columns collapse">
			<h1 id="brand" style="font-family: 'Magistral C'">
				<a href="{% url 'theses_sys:home' %}">
					<span style="color: #fff">browse</span><span style="color: #B80606">up</span><span style="color: #fff">theses</span> |
				</a>
				<small style="color: #C4B1B1">UP Cebu's Online Theses Archive</small>
			</h1>
		</div>
	</div>
	<div class="right" style="margin-top: -50px;">
		{% if user %}
			<a href="#" data-reveal-id="addTeacherModal" data-reveal>Generate Account</a>
			<div id="addTeacherModal" class="reveal-modal tiny" data-reveal style="text-align:center">
				<form id="row" action="{% url 'theses_sys:generate-accounts' %}" method="POST">
					<h4>Provide number of accounts</h4>
					<input type="number" min="1" max="100" id="num_accounts" style="width: 90%; margin: 20px auto" value="1" name="quantity" required>
			        <input type="submit" class="tiny button radius" value="Generate Account" >
					<a class="close-reveal-modal">&times;</a>
	    		</form>
			</div>
		{% endif %}
		{% if f_id and not user %}
			<a href="{% url 'theses_sys:session-theses' %}">My Theses</a>
			<a href="{% url 'theses_sys:department-theses' dept_id %}">Department Theses</a>
			<a href="{% url 'theses_sys:create-entry' %}">Add Thesis</a>
			<a href="{% url 'theses_sys:set-profile' %}">Account Settings</a>
			<a href="#" data-reveal-id="logoutModal" data-reveal>Log out</a>
			<div id="logoutModal" class="reveal-modal tiny" data-reveal style="text-align:center">
				<h4>Do you really want to log out?</h4>
				<a href="{% url 'theses_sys:logout' %}" class="tiny button radius">Yes</a>
				<a class="close-reveal-modal">&times;</a>
			</div>
		{% elif not f_id and not user %}
			<a href="{% url 'theses_sys:login' %}"><em>Faculty</em></a>
		{% endif %}
	</div>
	<style>
		.right a {
			color: #ddd;
			padding: 5px;
			margin-right: 10px;
			width: 50px;
			-webkit-transition: all .2s linear;
			-moz-transition: all .2s linear;
			transition: all .2s linear;
		}

		.right a:hover {
			border-radius: 3px;
			background-color: #007095;
		}
	</style>
</header>
