{% load staticfiles %}

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta class="foundation-mq-small">
<meta class="foundation-mq-medium">
<meta class="foundation-mq-large">
<meta class="foundation-mq-xlarge">
<meta class="foundation-mq-xxlarge">
<link rel="stylesheet" type="text/css" href="{% static 'theses_sys/css/foundation.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'theses_sys/css/normalize.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'theses_sys/css/bootstrap-responsive.css'%}">
<link rel="stylesheet" type="text/css" href="{% static 'theses_sys/css/fonts.css'%}">
<link rel="stylesheet" type="text/css" href="{% static 'theses_sys/css/styles.css' %}">
<link rel="icon" href="{% static 'theses_sys/images/add-tiny.png' %}">